/*Main Dont Change Stuff*/
h1 {
    text-align: center;
    color: rgb(154, 195, 251);
    text-weight: bold;
    font-size: 50px;
    -webkit-text-stroke-color: darkblue;
    -webkit-text-stroke-width: 2px;
    font-family: "American Typewriter";
    background-color: rgb(255, 232, 167);
}
#content {
    position: relative;
    margin: auto;
    text-align: center;
}
body {
    background-color: pink;
}
h2, h3, h4 {
    color: rgb(154, 195, 251);
    text-weight: bold;
    font-size: 32px;
    -webkit-text-stroke-color: darkblue;
    -webkit-text-stroke-width: 1px;
    font-family: "American Typewriter";
}
h2, h3 {
    text-align: left;
}
h4 {
    text-align: center;
}



#thingsListed, #sectionInfoListed, #studentInfo, #thingsListed2 #teachersListedinSection, #infoListed {
    display: "none";
}

#addTeacherToSection, #addStudentToSection, #removeStudentFromSection, #newTeacher, #newStudent, #newSection, #hideAllAdds, #hideAllSecond {
    background-color: rgb(255, 232, 167);
    float: left;
}

#listItems, #searchStudent, #listSecStuff, #listItems2, #hideItems, #listTeachersinSection, #listTeachersButton, #listStudentsButton, #listSectionsButton3, #listSectionsButton4, #listStudentsButton2, #listSectionsButton, #listSectionsButton2 {
    background-color: rgb(154, 195, 251);
    font-family: "American Typewriter";
}

#newStudentInterface, #newTeacherInterface, #newSectionInterface, #studentToSectionInterface, #teacherToSectionInterface, #removeStudentInterface {
    position: relative;
    margin: auto;
    display: none;
    text-align: center;
    color: rgb(154, 195, 251);
    -webkit-text-stroke-color: darkblue;
    -webkit-text-stroke-width: 1px;
    text-weight: bold;
    font-size: 32px;
    font-family: "American Typewriter";
    background: rgb(255, 232, 167);
    border: 1px black solid;
}

#studentFirstName, #studentLastName, #studentGrade, #studentIDNumber, #teacherFirstName, #teacherLastName, #teacherSubject, #sectionCourse, #sectionMaxSize{
    position: relative;
    margin: auto;
    text-align: center;
    -webkit-text-stroke-color: none;
    -webkit-text-stroke-width: 0px;
}

#createStudent, #createTeacher, #createSection {
    background-color: rgb(154, 195, 251);
    position: relative;
    margin: auto;
    text-align: center;
    -webkit-text-stroke-color: none;
    -webkit-text-stroke-width: 0px;
    font-family: "American Typewriter";
}

#thingsListed, #sectionInfoListed, #studentInfo, #thingsListed2, #infoListed, #thingsListedTable, #studentInfoListedTable, #secListedTable2, #studentInfoListed, #thingsListedTable2, #sectionInfoListedTable, #teachersListedinSection, #teachersListedTable{
    position: relative;
    margin: auto;
    text-align: center;
    width: 35%;
}
#thingsListedTable, #studentInfoListedTable, #thingsListedTable2, #secListedTable2, #studentInfoListed, #sectionInfoListedTable, #teachersListedinSection {
    border: 1px black solid;
}

#selectTeacher, #selectSection, #selectSection2, #addTeacher, #listTeachersinSection, #sectionInfo {
    -webkit-text-stroke-color: none;
    -webkit-text-stroke-width: 0px;
    background-color: rgb(154, 195, 251);
    font-family: "American Typewriter";
}

/*DropDowns*/
#teachersListed, #listSection, #listItems2, #thingsListed2, #thingsListedTable2, #secListedTable2, #studentInfoListed, #sectionInfoListed, #studentInfo, #sectionsListed, #studentslisted, #studentslisted2, #sectionsListed3, #sectionsListed4, #listTeachers, #sectionsListed2, #listTeachersButton, #listSectionsButton, #listStudentsButton, #listStudentsButton2, #listSectionsButton3, #listSectionsButton4 {
    -webkit-text-stroke-color: none;
    -webkit-text-stroke-width: 0px;
}

/*Buttons*/
#addTheTeacherButton, #addTheStudentButton, #removeTheStudentButton, #searchStuInfoButton, #searchStudent {
    background-color: rgb(154, 195, 251);
    font-family: "American Typewriter";
    -webkit-text-stroke-color: none;
    -webkit-text-stroke-width: 0px;
}

#searchStudent{
    position: center;
    margin: auto;
    text-align: center;
}

#searchStudentInterface{
    display: none;
    text-align: center;
}